<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Meus Favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Meus Favoritos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="favorites-container">
    <!-- Formulário de Filtro por Coleção Removido -->

    <!-- Lista de Receitas Favoritas -->
    <div class="favorites-list">
      <h2>Receitas Favoritas</h2>
      <ion-list>
        <ion-item *ngFor="let favorito of favoritos; let i = index">
          <ion-label>
            
            <h3>{{ getReceitaNome(favorito.receitaId) }}</h3>
            
            <p>{{ getReceitaIngredientes(favorito.receitaId) }}</p>
            <ion-chip *ngIf="favorito.colecao">
              <ion-label>{{ favorito.colecao }}</ion-label>
            </ion-chip>
          </ion-label>
          <ion-button fill="clear" color="danger" (click)="removerFavorito(favorito.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" slot="end" (click)="abrirModalDetalheReceita(favorito.receitaId)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

    <!-- Mensagem quando não houver favoritos -->
    <ion-text *ngIf="favoritos.length === 0 && receitasFavoritas.length === 0" class="ion-text-center ion-padding">
      <p>Você ainda não adicionou nenhuma receita aos favoritos.</p>
    </ion-text>
  </div>
</ion-content>
