<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Gerenciar Categorias</ion-card-title>
        <ion-card-subtitle>Organize suas receitas por categorias</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-button expand="block" routerLink="/tabs/categorias">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          Gerenciar Categorias
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
