// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-secondary: #01ad4e;
    --ion-color-secondary-rgb: 1, 173, 78;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #019844;
    --ion-color-secondary-tint: #1ad362;
  }